<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flatcode.littlemusicadmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/OneTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="33">
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.ForgetPasswordActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SongAddActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.ProfileEditActivity" />
        <activity android:name=".Activity.SliderShowActivity" />
        <activity android:name=".Activity.PrivacyPolicyActivity" />
        <activity android:name=".Activity.PrivacyPolicyEditActivity" />
        <activity android:name=".Activity.UsersActivity" />
        <activity android:name=".Activity.CategoriesActivity" />
        <activity android:name=".Activity.CategoryAddActivity" />
        <activity android:name=".Activity.CategoryEditActivity" />
        <activity android:name=".Activity.EditorsChoiceActivity" />
        <activity android:name=".Activity.EditorsChoiceAddActivity" />
        <activity android:name=".Activity.FavoritesActivity" />
        <activity android:name=".Activity.SongsActivity" />
        <activity android:name=".Activity.SongEditActivity" />
        <activity android:name=".Activity.AlbumsActivity" />
        <activity android:name=".Activity.AlbumAddActivity" />
        <activity android:name=".Activity.AlbumEditActivity" />
        <activity android:name=".Activity.ArtistAddActivity" />
        <activity android:name=".Activity.ArtistEditActivity" />
        <activity android:name=".Activity.ArtistsActivity" />
        <activity android:name=".Activity.AlbumSongsActivity" />
        <activity android:name=".Activity.CategorySongsActivity" />
        <activity android:name=".Activity.ArtistSongsActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>