<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/OneTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SongAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SliderShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PrivacyPolicyEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CategoryAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CategoryEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditorsChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditorsChoiceAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SongEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlbumAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlbumEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArtistAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArtistEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArtistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlbumSongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CategorySongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArtistSongsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>